body {
    margin: 0;
    padding: 0;
    background-color: #222629;
    color: #c6c6c6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    background-color: #181c1f;
    padding: 30px 0;
}

header p {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ccceee;
}

.banner {
    text-align: center;
    padding: 40px 0;
}

.banner h1 {
    margin: 0 0 20px;
}

.banner p {
    margin: 0;
}
footer {
    width: 100%;
    background-color: #000;
    padding: 20px 0;
}

footer p {
    text-align: center;
    font-size: 12px;
}